/* Estilos gerais para a página */ 
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fbf7ff;
    color: #41364b;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
}

section {
    margin: 20px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

/* Estilos para a timeline*/ 
.nav {
    background-color: #34343f;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: sticky;
    top: 0%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.nav-button {

    height: 12vh;
    width: auto;

    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

}

.button-icon {
    background-color: #eb4d4b;

    width: 1em;
    height: 1em;

    border-radius: 50%;

    box-shadow: 2px 2px 5px #130f40;
    transition: transform 0.2s, box-shadow 0.2s;
}

.selected {
    background-color: #badc58;
}

.button-label {
    font-size: 1em;
}

.nav-button:hover {

    .button-icon {
        transform: scale(1.2);
        border-radius: 8px;
        box-shadow: 0.5px 0.5px 5px #dff9fb;
    }

    .button-label {
        color: #d1fcff;
    }
}

.nav-button:active {
    transform: scale(0.98);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

/* Grid para o layout da main */
#introducao {
    margin-bottom: 40px;
}

#ferramentas, #projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.title-section {
    grid-column-start: 1;
    grid-column-end: 4;
}

.imagem-article, .video-article {
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption, p.caption {
    font-style: italic;
    color: #555;
    font-size: 0.9rem;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.poema {
    font-style: italic;
    margin-top: 20px;
    line-height: 1.8;
    color: #41364b;
}

/* Estilos para o footer */ 
.nome-equipe {
    text-align: center;
    font-size: 1.3em;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
}

@media screen and (max-width:600px) {
    .flex-pai {
        background-color: red;
        flex-direction: row;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: center;
        width: 100%;
        height: auto;


    }
}

@media screen and (max-width:600px) {
    .flex-pai div {
        flex-wrap: wrap;
        position: relative;
    }
}


@media screen and (max-width:600px) {
    .image-button {

        padding: 10px;
        display: inline-block;
        position: relative;
        text-decoration: Bold;
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        padding: 5px 10px;
        background-image: url('arte-ia3.jpg');
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        width: 20%;
        height: auto;
        flex-wrap: wrap;
        align-items: left;
    }
}


@media screen and (max-width:600px) {
    h2 {
        visibility: hidden;
    }
}