@import url('vars.css');

.article-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 3rem 0;
  margin: 3rem 5%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.artefact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  padding: 3rem 0;
  margin: 3rem 5%;
  border-radius: 1rem;
}

.artefact .image-container {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artefact .image-container .image {
  width: 90%;
  min-width: 25rem;
  min-height: 20rem;
  height: 90%;
  border-radius: 1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.artefact .aside-container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 2rem;
}

.artefact .aside-container .artefact-title {
  justify-self: flex-start;
  font-size: 3rem;
  color: var(--primary-color);
  margin: 0;
}

.artefact .aside-container .artefact-subtitle {
  font-size: 2rem;
  color: var(--secondary-color);
  text-align: justify;
}

.artefact .aside-container .artefact-text {
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  text-align: justify;
}

.artefact .artefact-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2rem;
}

.artefact .artefact-buttons .artefact-button {
  display: flex;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  background-color: rgba(251, 197, 49, 0.6);
  padding: 1rem 2rem;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .artefact .image-container .image {
    min-width: 20rem;
    min-height: 15rem;
  }
}

@media screen and (max-width: 600px) {
  .article-container {
    padding: 0;
  }
  .artefact {
    flex-direction: column;
    padding: 0;
  }

  .artefact .image-container {
    width: 100%;
  }
  .artefact .image-container .image {
    width: 90%;
  }

  .artefact .aside-container {
    width: 100%;
  }
  .artefact .aside-container .artefact-title {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .artefact:nth-child(even) {
    flex-direction: row-reverse;
  }

  .artefact:nth-child(even) .artefact-buttons {
    justify-content: flex-start;
  }
  
}
