@import url('vars.css');

.title, .description {
    padding: 10px;
    height: 5rem;
}

.title {
    font-size:  3rem;
}

.description {
    font-size: var(--font-size-medium);
}

.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 1.5em;
    perspective: 70em; 
}

.card {
    width: 35rem;
    height: 50rem;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 1s; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    width: 100%;
    height: 35%;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.card-body {
    width: 100%;
    height: 65%;
    background-color: var(--white-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front {
    background-color: var(--primary-color);
    position: absolute;
}

.card-back {
    background-color: var(--primary-color);
    transform: rotateY(180deg); 
    position: absolute;
}

.card-body h2, .card-body p {
    margin: 0.5em;
    text-align: center;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.card-body p {
    font-size: 1.2rem; 
    text-align: center;
    line-height: 1.5;
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 100%; 
    transform: translateY(-50%); 
    white-space: nowrap; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-text ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.tooltip .tooltip-text ul li {
    margin-bottom: 5px; 
}

.tooltip .tooltip-text ul li a {
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 1px solid var(--white-color);
}

.tooltip .tooltip-text ul li a:hover {
    text-decoration: underline;
}

.artefact-button {
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: var(--font-size-large);
    color: var(--primary-color);
    background-color: rgba(251, 197, 49, 0.6);
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
  }

@media (max-width: 900px) {
    .cards-container {
     flex-wrap: wrap;
    }
  }
