@import url('vars.css');

body {
    background-color: var(--white-color);
    color: var(--primary-color);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
}

section {
    margin: 20px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

/* Grid para o layout da main */
#introducao {
    margin-bottom: 40px;
}

#ferramentas,
#projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.title-section {
    grid-column-start: 1;
    grid-column-end: 4;
}

.generative-models-container {
    font-size: var(--font-size-small)
}

.imagem-article,
.video-article {
    width: 100%;
    height: auto;

    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption,
p.caption {
    font-style: italic;
    color: #555;
    font-size: 0.9rem;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.poema {
    font-style: italic;
    margin-top: 20px;
    line-height: 1.8;
    color: #41364b;
}

/* Estilos para o footer */
.nome-equipe {
    text-align: center;
    font-size: 1.3em;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
}

@media (max-width: 900px) {

    #ferramentas,
    #projetos {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    .imagem-article,
    .video-article {
        width: 100%;
        height: auto;
    }

    .title-section {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 600px) {

    #ferramentas,
    #projetos {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.5em;
    }

    .imagem-article,
    .video-article {
        width: 100%;
        height: auto;
    }

    .title-section {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    figcaption,
    p.caption {
        font-size: 0.8rem;
    }

    .nome-equipe {
        font-size: 1.1em;
        text-shadow: none;
    }
}