@import url('vars.css');

/* Estilos para a timeline*/
.nav {
  background-color: var(--white-color);
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  position: sticky;
  border-bottom: 3px solid var(--primary-color);
  z-index: 2;
}

.nav .logo {
  width: 25rem;
  height: 10rem;
  padding: 2rem 1.5rem 0.5rem 0.5rem;
}

.nav .buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
}

.nav .buttons .button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
  color: #2d3436;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem 4rem;
  cursor: pointer;
}

.selected {
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

.selected-text {
  color: var(--secondary-color);
}

.button-label {
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nav .logo {
    width: 25rem;
    height: 10rem;
    padding: 2rem 1.5rem 0.5rem 0.5rem;
  }

  .nav .buttons {
    width: 70%;
    padding: 0 0.8rem;
  }

  .nav .buttons .button {
    font-size: 2rem;
    justify-content: flex-end;
    padding: 0.5rem 3rem;
  }
}

@media screen and (max-width: 710px) {
  .nav .buttons .button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .nav .buttons .button {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    height: 6rem;
  }
  .nav .logo {
    display: none;
  }

  .nav .buttons {
    height: 6rem;
    width: 100%;
    justify-content: center;
    padding: 0 0.8rem;
  }

  .nav .buttons .button {
    height: 6rem;
  }
}
